<form action="download" method="GET" class="form-horizontal">
  <fieldset class="download">
    <button class="btn btn-large btn-primary">
      <i class="icon-download icon-white"></i>
      Download
    </button>
  </fieldset>
  <fieldset>
    <legend>Backbone</legend>
    <label class="checkbox">
      <input type="checkbox" checked disabled>
      <input type="hidden" name="package" value="backbone">
      Backbone v0.9.2 (latest)
    </label>
  </fieldset>
  <fieldset>
    <legend>Examples</legend>
    <label class="checkbox">
      <input type="checkbox" name="example" value="todo" checked>
      To-do list example application
    </label>
    <!-- boiler plate, blank sheet -->
  </fieldset>
  <fieldset>
    <legend>Selector engine</legend>
    <input type="hidden" id="selector-engine" name="package">
    <label class="radio">
      <input type="radio" name="selector-engine" value="jquery" checked>
      jQuery v1.7.1 (latest)
    </label>
    <label class="radio">
      <input type="radio" name="selector-engine" value="zepto">
      zepto (latest)
    </label>
  </fieldset>
  
  <!-- File/Module Loading -->
  <!-- 
  
  * requirejs 
  * browserify
  * stitch
  -->
  
  
  <fieldset>
    <legend>JavaScript libraries</legend>
    <label class="checkbox">
      <input type="checkbox" checked disabled>
      <input type="hidden" name="package" value="underscore">
      underscore (latest, v1.3.1)
    </label>
  </fieldset>
  <fieldset>
    <legend>Template engine</legend>
    <input type="hidden" id="template-engine" name="package">    
    <label class="radio">
      <input type="radio" name="template-engine" value="underscore" checked>
      Underscore
    </label>
    <label class="radio">
      <input type="radio" name="template-engine" value="mustache">
      Mustache
    </label>
  </fieldset>
  <fieldset>
    <legend>Storage</legend>        
    <label class="checkbox">
      <input type="checkbox" name="package" value="backbone-localstorage" checked>
      Backbone local storage
    </label>
  </fieldset>
  <fieldset>
    <legend>Browser compatibility</legend>        
    <label class="checkbox">
      <input type="checkbox" name="package" value="json2" checked>
      JSON2 (Backwards compatibility with older browsers)
    </label>
  </fieldset>
  
  <!-- server-side boilerplate -->
  <!-- 
  * node.js, express 
  * PHP
  -->
  
  <fieldset class="download">
    <button class="btn btn-large btn-primary">
      <i class="icon-download icon-white"></i>
      Download
    </button>
  </fieldset>
</form>

<script src="js/jquery-1.7.1.js"></script>
<script>

// set package value in hidden field for radio fields
function setRadioValue(el) {
  $('#'+el.attr('name')).val(el.val());
}

$(function() {
  $('input[type=radio]:checked').each(function() {
    setRadioValue($(this));
  });
});

$('input[type=radio]').on('change', function(event) {
  var el = $(event.target);
  setRadioValue(el);
});

</script>