<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
	<title>GET Backbone.js</title>

  <!-- Le styles -->
  <link href="css/bootstrap.css" rel="stylesheet">
  <link href="css/bootstrap-responsive.css" rel="stylesheet">
  <link href="css/main.css" rel="stylesheet">

  <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

</head>
<body>
  <div class="container">
    
    <!--
    <a href="http://backbonejs.org/" class="home-link btn">
      <i class="icon-home"></i>
      backbonejs.org
    </a>
    -->
    
    <header>
      <h1>GET <span class="logo">Backbone.js</span></h1>
      <p class="strapline">The quickest way to get started with Backbone.js</p>
    </header>
    
    {{{body}}}
    
    <footer>
      <p><a href="http://backbonejs.org/">Backbone.js</a> is an open-source component of <a href="http://documentcloud.org/">DocumentCloud</a>.</p>
      <p class="">GET Backbone.js was made by <a href="https://twitter.com/andyeo">@andyeo. <a href="https://github.com/andyuk/getbackbone.org">Fork me on github</a>.</p>
    </footer>
    
  </div>
</body>
</html>